.slider{
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide{
    border: 1px solid blue;
    min-width: 100%;
    height: 80%;
}

/* #goLeft{
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
}

#goRight{
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 80%;
    background: none;
    border: none;
    outline: none;
} */




/* Navigation */
.video-slider-btn {
    border: none;
    outline: none;
    display: inline-block;
    color: #000000;
    font-size: 60px;
    padding: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    z-index: 99999;
    opacity: .6;
    transition: all 350ms ease-in-out;
  }
  .video-slider-btn:hover {
    opacity: 1;
    transition: all 350ms ease-in-out;
  }
  .video-slider-btn.left-side {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
  }
  .video-slider-btn.right-side {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
  }


  /* ----------------Thumb----- */
.thumbSlider{
  position: relative;
  /* width: 20%; */
  height: 20vh;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  gap: 10px;
  margin-top: 10px;
  
}
.thumSlide{
  border: 1px solid blue;
  min-width: 100%;
  height: 80%;
}