
/* Order Details */

.bdrBtm{
  border-bottom: 3px solid #09c;
}
.text-blue {
  color: #09c!important;
  background-color: #eee!important;
  font-size: x-large;
  font-weight: 500;
  padding: 0px 8px;
}
.text-black {
  font-size: larger;
  font-weight: 500;
  padding: 0px 8px;
}

/* modal.css */
.overlay {
  position: fixed;
  display: block; 
  overflow: auto; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 999; 
  cursor: pointer;
}

.content {
      margin: 15% auto;
      background-color: white;
      border-radius: 0.25rem;
      /* width: 50vw; */
      /* padding: 2rem; */
      position: relative;
      /* max-width: fit-content; */
      padding: 10px 35px 20px 20px;
}



.cardFlex{
  display: inline-flex!important;
  width: 15rem;
  margin: 10px;
}
/* ------------------ */
/* .slider{
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
  height: 40vw;
  position: relative;
  overflow: hidden;

}  
.slide{
    transition: all .4s ease-in-out;
    transform: scale(1.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vw;
    max-height: 600px;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0;
}
    .text{
      position: absolute;
      top: 20px;
      left: 20px;
      background: rgba(0,0,0,.6);
    }  
      a, a:link{
        transition: all .3s ease-in-out;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 32px;
        padding: 20px;
        display: block;
      }:hover{
          background: rgba(20,20,20,.4);
          color: rgb(200,200,200);
        }
    
    [data-active="true"]{
      transform: scale(1);
      z-index: 100;
      opacity: 1;
    }
  
  
  
  .next, .previous{
    transition: all .3s ease-in-out;
    color: rgba(255,255,255,.6);
    z-index: 200;
    position: absolute;
  }:hover{
      color: rgba(255,255,255,.8);
      transform: scale(1.1);
    }
  
  
  .next{
    bottom: 20px;
    right: 20px;
  }
  
 .previous{
    bottom: 20px;
    left: 20px;
  }
 */

 .slider {
  position: relative;
  width: 800px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}

#vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vids a:first-of-type {
  margin-bottom: 5px;
}









/* ---------------- */
/* .form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
} */


/* ----Testing------ */
.cardHeight{
  height: 565px;
}
.cotactPhone{
  align-self: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
.contactHead{
  font-weight: bold;
}
.button-new {
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50px;
  background-color: #921616;
  color: white;
  font-size: 18px;
  text-align: center;
}
.mapBtn{
  margin-left: 20px;
  margin-right: 20px;
}
.checkfont{
  text-align: justify;
  font-size: 12px;
}
.submitBtn{
  margin-left: 50px;
  margin-right: 50px;
}